body {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px 60px;
  background-color: #393e46;
}

a {
  text-decoration: none;
  color: #f9ed69;
}

* {
  box-sizing: border-box;
  color: #eeeeee;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 5px 5px;
  }
}
